EX05/ex5.2_server/src/at/aau/ds/CalculationServicePortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://ds.aau.at/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ds.aau.at/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ds.aau.at/" schemaLocation="CalculationServicePortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="add">
    <part name="parameters" element="tns:add"/>
  </message>
  <message name="addResponse">
    <part name="parameters" element="tns:addResponse"/>
  </message>
  <message name="divide">
    <part name="parameters" element="tns:divide"/>
  </message>
  <message name="divideResponse">
    <part name="parameters" element="tns:divideResponse"/>
  </message>
  <message name="multiply">
    <part name="parameters" element="tns:multiply"/>
  </message>
  <message name="multiplyResponse">
    <part name="parameters" element="tns:multiplyResponse"/>
  </message>
  <message name="subtract">
    <part name="parameters" element="tns:subtract"/>
  </message>
  <message name="subtractResponse">
    <part name="parameters" element="tns:subtractResponse"/>
  </message>
  <portType name="CalculationService">
    <operation name="add">
      <input ns1:Action="http://ds.aau.at/CalculationService/addRequest" message="tns:add" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://ds.aau.at/CalculationService/addResponse" message="tns:addResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="divide">
      <input ns3:Action="http://ds.aau.at/CalculationService/divideRequest" message="tns:divide" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://ds.aau.at/CalculationService/divideResponse" message="tns:divideResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="multiply">
      <input ns5:Action="http://ds.aau.at/CalculationService/multiplyRequest" message="tns:multiply" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://ds.aau.at/CalculationService/multiplyResponse" message="tns:multiplyResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="subtract">
      <input ns7:Action="http://ds.aau.at/CalculationService/subtractRequest" message="tns:subtract" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://ds.aau.at/CalculationService/subtractResponse" message="tns:subtractResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

